<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.focusappm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/focus_kids"
        android:label="Focus Kids"
        android:roundIcon="@drawable/focus_kids"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalificarActividadActivity"></activity>
        <activity android:name=".AgregarDatosPerfilActivity" />
        <activity android:name=".InstruccionesTest" />
        <activity android:name=".DetalleTareaActivity" />
        <activity android:name=".CalendarioPantallaCompletaActivity"></activity>
        <activity android:name=".DetalleActividadActivity" />
        <activity android:name=".ActividadesActivity" />
        <activity android:name=".TareasActivity" />
        <activity android:name=".PlaneacionActivity" />
        <activity android:name=".CalendarDisponibleActivity" />
        <activity android:name=".EventosCalendarioActivity" />
        <activity android:name=".TestAprendizajeActivity" />
        <activity android:name=".AgregarActividadActivity" />
        <activity android:name=".AgregarPerfilActivity" />
        <activity android:name=".HomeAppActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgregarTareaActivity" />
        <activity android:name=".DetallePerfilActivity" />
        <activity android:name=".PerfilesActivity" />
    </application>

</manifest>